# PySpark Tutorial for Beginners: Learn with EXAMPLES

https://www.guru99.com/pyspark-tutorial.html

In [65]:
from pyspark import SparkContext, SparkConf, SparkFiles
from pyspark.sql import SparkSession, Row, SQLContext
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.ml.feature import StringIndexer

In [3]:
sc=SparkContext()

23/08/26 09:40:32 WARN Utils: Your hostname, rausan-jewel-80V4 resolves to a loopback address: 127.0.1.1; using 192.168.1.7 instead (on interface wlp1s0)
23/08/26 09:40:32 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/26 09:40:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/08/26 09:40:34 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
rdd=sc.parallelize([1,2,3,4])

In [5]:
rdd.collect()

[1, 2, 3, 4]

In [6]:
rdd.map(lambda x:x*x*x).collect()

[1, 8, 27, 64]

In [8]:
rdd.filter(lambda x:x%2==1).collect()

[1, 3]

In [9]:
squared=rdd.map(lambda x:x*x).collect()

In [11]:
for el in squared:
    print('%d'%(el))

1
4
9
16

In [13]:
sqlContext=SQLContext(sc)

/home/rausan-jewel/.local/lib/python3.11/site-packages/pyspark/sql/context.py:112: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [14]:
list=[('John',19),('Smith',29),('Adam',35),('Henry',50)]

In [15]:
rdd1=sc.parallelize(list)

Edit each row using Row(). One way to add schema to column data.

In [21]:
mapped_rdd1=rdd1.map(lambda x:Row(name=x[0],age=int(x[1])))

In [22]:
df001=sqlContext.createDataFrame(mapped_rdd1)

In [23]:
df001.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [24]:
df001.show()

+-----+---+
| name|age|
+-----+---+
| John| 19|
|Smith| 29|
| Adam| 35|
|Henry| 50|
+-----+---+

In [40]:
url = "https://raw.githubusercontent.com/guru99-edu/R-Programming/master/adult_data.csv"
sc.addFile(url)
df002=sqlContext.read.csv(SparkFiles.get('adult_data.csv'),header=True,inferSchema=False)

23/08/26 10:14:58 WARN SparkContext: The path https://raw.githubusercontent.com/guru99-edu/R-Programming/master/adult_data.csv has been added already. Overwriting of added paths is not supported in the current version.

In [41]:
df002.printSchema()

root
 |-- x: string (nullable = true)
 |-- age: string (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: string (nullable = true)
 |-- education: string (nullable = true)
 |-- educational-num: string (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- capital-gain: string (nullable = true)
 |-- capital-loss: string (nullable = true)
 |-- hours-per-week: string (nullable = true)
 |-- native-country: string (nullable = true)
 |-- income: string (nullable = true)

In [29]:
df002.show(5,truncate=False)

+---+---+---------+------+------------+---------------+------------------+-----------------+------------+-----+------+------------+------------+--------------+--------------+------+
|x  |age|workclass|fnlwgt|education   |educational-num|marital-status    |occupation       |relationship|race |gender|capital-gain|capital-loss|hours-per-week|native-country|income|
+---+---+---------+------+------------+---------------+------------------+-----------------+------------+-----+------+------------+------------+--------------+--------------+------+
|1  |25 |Private  |226802|11th        |7              |Never-married     |Machine-op-inspct|Own-child   |Black|Male  |0           |0           |40            |United-States |<=50K |
|2  |38 |Private  |89814 |HS-grad     |9              |Married-civ-spouse|Farming-fishing  |Husband     |White|Male  |0           |0           |50            |United-States |<=50K |
|3  |28 |Local-gov|336951|Assoc-acdm  |12             |Married-civ-spouse|Protective-serv  |Husband     |White|Male  |0           |0           |40            |United-States |>50K  |
|4  |44 |Private  |160323|Some-college|10             |Married-civ-spouse|Machine-op-inspct|Husband     |Black|Male  |7688        |0           |40            |United-States |>50K  |
|5  |18 |?        |103497|Some-college|10             |Never-married     |?                |Own-child   |White|Female|0           |0           |30            |United-States |<=50K |
+---+---+---------+------+------------+---------------+------------------+-----------------+------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 5 rows

In [44]:
df003=sqlContext.read.csv(SparkFiles.get('adult_data.csv'),header=True,inferSchema=False)

In [59]:
def convertType(df, columnName, newType):
    for columns in columnName:
        df=df.withColumn(columns, df[columns].cast(newType))
    return df

In [62]:
continuous_variables=['x','age','fnlwgt','educational-num','capital-gain','capital-loss','hours-per-week']

In [63]:
df003=convertType(df003,continuous_variables,FloatType())

In [64]:
df003.printSchema()

root
 |-- x: float (nullable = true)
 |-- age: float (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: float (nullable = true)
 |-- education: string (nullable = true)
 |-- educational-num: float (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- capital-gain: float (nullable = true)
 |-- capital-loss: float (nullable = true)
 |-- hours-per-week: float (nullable = true)
 |-- native-country: string (nullable = true)
 |-- income: string (nullable = true)

In [68]:
stringIndexer=StringIndexer(inputCol='age',outputCol='age_index')
model=stringIndexer.fit(df002)
df004=model.transform(df002)
df004.printSchema()

root
 |-- x: string (nullable = true)
 |-- age: string (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: string (nullable = true)
 |-- education: string (nullable = true)
 |-- educational-num: string (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- capital-gain: string (nullable = true)
 |-- capital-loss: string (nullable = true)
 |-- hours-per-week: string (nullable = true)
 |-- native-country: string (nullable = true)
 |-- income: string (nullable = true)
 |-- age_index: double (nullable = false)

In [69]:
df002.select('age','fnlwgt').show(5)

+---+------+
|age|fnlwgt|
+---+------+
| 25|226802|
| 38| 89814|
| 28|336951|
| 44|160323|
| 18|103497|
+---+------+
only showing top 5 rows

In [70]:
df002.groupBy('education').count().sort('count',assending=True).show()

+------------+-----+
|   education|count|
+------------+-----+
|   Preschool|   83|
|     1st-4th|  247|
|     5th-6th|  509|
|   Doctorate|  594|
|        12th|  657|
|         9th|  756|
| Prof-school|  834|
|     7th-8th|  955|
|        10th| 1389|
|  Assoc-acdm| 1601|
|        11th| 1812|
|   Assoc-voc| 2061|
|     Masters| 2657|
|   Bachelors| 8025|
|Some-college|10878|
|     HS-grad|15784|
+------------+-----+

In [71]:
df002.describe().show()

23/08/26 11:24:11 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------------------+------------------+-----------+------------------+------------+------------------+--------------+----------------+------------+------------------+------+------------------+-----------------+------------------+--------------+------+
|summary|                 x|               age|  workclass|            fnlwgt|   education|   educational-num|marital-status|      occupation|relationship|              race|gender|      capital-gain|     capital-loss|    hours-per-week|native-country|income|
+-------+------------------+------------------+-----------+------------------+------------+------------------+--------------+----------------+------------+------------------+------+------------------+-----------------+------------------+--------------+------+
|  count|             48842|             48842|      48842|             48842|       48842|             48842|         48842|           48842|       48842|             48842| 48842|             48842|            48842|             48842|         48842| 48842|
|   mean|           24421.5| 38.64358543876172|       null|189664.13459727284|        null|10.078088530363212|          null|            null|        null|              null|  null|1079.0676262233324|87.50231358257237|40.422382375824085|          null|  null|
| stddev|14099.615260708357|13.710509934443525|       null|105604.02542315757|        null| 2.570972755592259|          null|            null|        null|              null|  null| 7452.019057655418| 403.004552124359|12.391444024252312|          null|  null|
|    min|                 1|                17|          ?|            100009|        10th|                 1|      Divorced|               ?|     Husband|Amer-Indian-Eskimo|Female|                 0|                0|                 1|             ?| <=50K|
|    max|              9999|                90|Without-pay|             99987|Some-college|                 9|       Widowed|Transport-moving|        Wife|             White|  Male|             99999|              974|                99|    Yugoslavia|  >50K|
+-------+------------------+------------------+-----------+------------------+------------+------------------+--------------+----------------+------------+------------------+------+------------------+-----------------+------------------+--------------+------+

In [74]:
df002.describe('capital-gain').show()

+-------+------------------+
|summary|      capital-gain|
+-------+------------------+
|  count|             48842|
|   mean|1079.0676262233324|
| stddev| 7452.019057655418|
|    min|                 0|
|    max|             99999|
+-------+------------------+

In [75]:
df002.crosstab('age','income').sort('age_income').show()

+----------+-----+----+
|age_income|<=50K|>50K|
+----------+-----+----+
|        17|  595|   0|
|        18|  862|   0|
|        19| 1050|   3|
|        20| 1112|   1|
|        21| 1090|   6|
|        22| 1161|  17|
|        23| 1307|  22|
|        24| 1162|  44|
|        25| 1119|  76|
|        26| 1068|  85|
|        27| 1117| 115|
|        28| 1101| 179|
|        29| 1025| 198|
|        30| 1031| 247|
|        31| 1050| 275|
|        32|  957| 296|
|        33| 1045| 290|
|        34|  949| 354|
|        35|  997| 340|
|        36|  948| 400|
+----------+-----+----+
only showing top 20 rows

In [80]:
df002.drop('x').columns

['age',
 'workclass',
 'fnlwgt',
 'education',
 'educational-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'gender',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'income']

In [84]:
df002.filter(df002.age>40).show()

+---+---+----------------+------+------------+---------------+------------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
|  x|age|       workclass|fnlwgt|   education|educational-num|    marital-status|       occupation| relationship| race|gender|capital-gain|capital-loss|hours-per-week|native-country|income|
+---+---+----------------+------+------------+---------------+------------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
|  4| 44|         Private|160323|Some-college|             10|Married-civ-spouse|Machine-op-inspct|      Husband|Black|  Male|        7688|           0|            40| United-States|  >50K|
|  8| 63|Self-emp-not-inc|104626| Prof-school|             15|Married-civ-spouse|   Prof-specialty|      Husband|White|  Male|        3103|           0|            32| United-States|  >50K|
| 10| 55|         Private|104996|     7th-8th|              4|Married-civ-spouse|     Craft-repair|      Husband|White|  Male|           0|           0|            10| United-States| <=50K|
| 11| 65|         Private|184454|     HS-grad|              9|Married-civ-spouse|Machine-op-inspct|      Husband|White|  Male|        6418|           0|            40| United-States|  >50K|
| 14| 58|               ?|299831|     HS-grad|              9|Married-civ-spouse|                ?|      Husband|White|  Male|           0|           0|            35| United-States| <=50K|
| 15| 48|         Private|279724|     HS-grad|              9|Married-civ-spouse|Machine-op-inspct|      Husband|White|  Male|        3103|           0|            48| United-States|  >50K|
| 16| 43|         Private|346189|     Masters|             14|Married-civ-spouse|  Exec-managerial|      Husband|White|  Male|           0|           0|            50| United-States|  >50K|
| 18| 43|         Private|128354|     HS-grad|              9|Married-civ-spouse|     Adm-clerical|         Wife|White|Female|           0|           0|            30| United-States| <=50K|
| 23| 72|               ?|132015|     7th-8th|              4|          Divorced|                ?|Not-in-family|White|Female|           0|           0|             6| United-States| <=50K|
| 26| 45|Self-emp-not-inc|432824|     HS-grad|              9|Married-civ-spouse|     Craft-repair|      Husband|White|  Male|        7298|           0|            90| United-States|  >50K|
| 29| 54|         Private| 99516|     HS-grad|              9|Married-civ-spouse|     Craft-repair|      Husband|White|  Male|           0|           0|            35| United-States| <=50K|
| 31| 46|       State-gov|106444|Some-college|             10|Married-civ-spouse|  Exec-managerial|      Husband|Black|  Male|        7688|           0|            38| United-States|  >50K|
| 32| 56|Self-emp-not-inc|186651|        11th|              7|           Widowed|    Other-service|    Unmarried|White|Female|           0|           0|            50| United-States| <=50K|
| 36| 65|               ?|191846|     HS-grad|              9|Married-civ-spouse|                ?|      Husband|White|  Male|           0|           0|            40| United-States| <=50K|
| 41| 65|         Private|136384|     Masters|             14|Married-civ-spouse|   Prof-specialty|      Husband|White|  Male|           0|           0|            50| United-States|  >50K|
| 42| 44|    Self-emp-inc|120277|   Assoc-voc|             11|Married-civ-spouse|            Sales|      Husband|White|  Male|           0|           0|            45| United-States|  >50K|
| 48| 54|         Private|186272|Some-college|             10|Married-civ-spouse| Transport-moving|      Husband|White|  Male|        3908|           0|            50| United-States| <=50K|
| 49| 52|         Private|201062|        11th|              7|         Separated|  Priv-house-serv|Not-in-family|Black|Female|           0|           0|            18| United-States| <=50K|
| 50| 56|    Self-emp-inc|131916|     HS-grad|              9|           Widowed|  Exec-managerial|Not-in-family|White|Female|           0|           0|            50| United-States| <=50K|
| 57| 63|         Private|145985|     HS-grad|              9|Married-civ-spouse|     Craft-repair|      Husband|White|  Male|           0|           0|            40| United-States| <=50K|
+---+---+----------------+------+------------+---------------+------------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 20 rows

In [86]:
df002.groupby('marital-status').agg({'capital-gain':'mean'}).show()

+--------------------+------------------+
|      marital-status| avg(capital-gain)|
+--------------------+------------------+
|           Separated| 581.8424836601307|
|       Never-married|  384.382639449029|
|Married-spouse-ab...| 629.0047770700637|
|            Divorced| 793.6755615860094|
|             Widowed| 603.6442687747035|
|   Married-AF-spouse|2971.6216216216217|
|  Married-civ-spouse|1739.7006121810625|
+--------------------+------------------+

In [113]:
df005=df002.filter(df002.age>50).groupBy('age').count().sort('count',assending=True)
df005.show(truncate=False)

+---+-----+
|age|count|
+---+-----+
|86 |1    |
|89 |2    |
|87 |3    |
|85 |5    |
|88 |6    |
|83 |11   |
|84 |13   |
|82 |15   |
|79 |30   |
|78 |34   |
|81 |37   |
|80 |38   |
|77 |54   |
|90 |55   |
|76 |69   |
|75 |72   |
|74 |77   |
|73 |108  |
|71 |118  |
|72 |120  |
+---+-----+
only showing top 20 rows